.header {
  height: 200px !important;
  width: 100%;
  background-color: #eef3f2;
}

.card_header {
  padding: 4px !important;
  border-radius: 0px !important;
}

.card_title {
  font-size: 1.15rem !important;
}

.card_desc {
  font-size: 0.95rem !important;
}
